<h1>Task</h1>
<div>Id: <%= @task.id %></div>
<div>Details: <%= @task.details %></div>
<div>Completed: <%= @task.completed %></div>
<%= link_to "Back to tasks", tasks_path %>
<%= link_to "Edit task", edit_task_path(@task) %>
